.lang {
  position: absolute;

  top: 7px;
  left: 85vw;
  z-index: 1;
}
.lang-active {
  background: rgb(35, 80, 69);
  color: white;
}
.lang-off {
  background: silver;
}
.lang button {
  border: none;
  outline: none;
  width: 50px;
  height: 25px;
  margin: 1px;
}
