.sldr {
  position: relative;
  z-index: -1;
  overflow-x: hidden;
}

.carrousel_wrapper {
  height: 500px;
  width: auto;
  overflow: visible;
  margin-bottom: 20px;
}

.carrousel_image {
  background-size: cover !important;
  height: 450px;
  width: auto;
}

@media screen and (max-width: 960px) {
  .carrousel_wrapper {
    background-color: thistle;
    width: 100vw;

    overflow: visible;
  }
  .carrousel_image {
    width: 100vw;

    overflow: visible;
  }
  .sldr {
    position: relative;
    z-index: -1;
    overflow-x: hidden;
  }
}
